.top-bar{
    text-align:center;
    background-color:#EADFB4;
    float: bottom;
    width:100%;
    position: sticky;
    top:0px;
    right:0px;
    display:grid;
}

body{
    background-color: #9BB0C1;
    color: #51829B;
}